.checkout {
  width: 100%;
  padding: 3em 0 0 0;
  .container {
    padding: 5em 0 0 0;
    max-width: 80%;
    // width: 1160px;
    margin: auto;

    .main {
      .coupon {
        .line {
          border: 1px solid #73a849;
        }
        .click {
          background-color: #f7f6f7;
          height: 50px;
          /* text-align: right; */
          display: flex;
          align-items: center;
        }
      }
      .leftRight {
        display: flex;
        .bil {
          margin-top: 30px;
          h4 {
            margin-top: 60px;
          }
        }
        hr {
          border: 1 solid rgb(97, 92, 92);
        }
        .left {
          width: 60%;
          .tables {
            .names {
              display: flex;
              gap: 50px;

              input {
                height: 45px;
                width: 310px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .com {
              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .country {
              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .street {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;

              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .town {
              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .state {
              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .phone {
              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .email {
              input {
                height: 45px;
                width: 672px;
                border: 0.8px solid;
                color: #3d3b3b;
              }
            }
            .addition {
              .order {
                input {
                  width: 97%;
                  height: 40px;
                  border: 0.8px solid;
                  color: #3d3b3b;
                }
              }
            }
          }
        }
        .rightInp {
          height: 450px;

          border: 1px solid #d9d9d9;
          margin-top: 30px;
          width: 40%;
          float: right;
          margin-right: 0;
          clear: right;
          .mains {
            padding: 30px;
            h5 {
              p {
                font-size: 22px;
              }
            }
            .table {
              display: flex;
              flex-direction: column;
              table {
                width: 100%;
                tr {
                  width: 100%;
                  padding: 30px 0;
                }
              }
            }
            .text {
              border: 0.8px solid gray;
              width: 100%;
              height: 90px;
            }

            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.placeOrder {
  width: 430px;
  background-color: #74a84a;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
  border: none;
  height: 40px;
}
